<!DOCTYPE html>
<html>
<head>
    <title>Welcome to AngularJs</title>
	<meta charset="utf-8" />
</head>
<body  ng-app="addressBook">
<h2>{{title}}</h2>

<div ng-controller="createAddressBook">
    <form name="createForm">
        <h3>{{firstName +" "+ lastName | uppercase}}</h3>
        First Name : <input type="text" ng-model="firstName" required=""/><br/>
        Last Name : <input type="text" ng-model="lastName"/><br/>
        Email : <input type="email" ng-model="email" required=""/><br/>
        <input type="submit" value="Save" ng-click="save(firstName, lastName, email)" ng-disabled="createForm.$invalid"/>
    </form>
    <br/>
</div>

<div ng-controller="searchAddress">
    <h2>Search</h2>
    <input type="text" ng-model="search" />
    <ul ng-repeat="address in addressBook |orderBy:'firstName'| filter:search">
        <li>
            <b>{{address.firstName +' '+ address.lastName}} -</b>
            {{address.email}}
        </li>
    </ul>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
 <script src="app.js"></script>
</body>
</html>
